<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
    <title>Output</title>
</head>
<body>
    <h1>Output</h1>
    <h2>Your Choice:</h2>
    <th:block th:switch="${envelope.message}">
    <p th:case="0">Rock</p>
    </th:block>

    <h3> CPU's Choice:</h3>
    <h4> Winner:</h4>
    <p>Placeholder text</p>
    <form action="Input.html" th:action="@{Process}">
        <p>
            <input type="submit" value="Play Again">
        </p>
    </form>
</body>
</html>